<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjx.homemaker">

    <!-- BmobSDK权限 -->
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 其他权限 短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- <permission -->
    <!-- android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE" -->
    <!-- android:protectionLevel="signature" /> -->
    <!-- <uses-permission android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE" /> -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="20fe4789af734b5f7131b71d2961d62e">
            <!--android:value="20fe4789af734b5f7131b71d2961d62e">-->

            //55e044d168b4d475ffa0a908d8f9165c
            //开发者申请的key
        </meta-data>

        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1109170704178302#tall" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- 定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- easeui图片大图activity -->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />
        <!-- easeui视频activity -->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity" />
        <!-- easeui文件actibity -->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity" />
        <!-- EaseUI中发送图片后查看以及发送地理位置activit注册 -->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeGuideActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.InformationActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.ContactListActivity" />
        <activity android:name=".activity.MyChatActivity" />
        <activity android:name="tudan.Activity.ShoppingCartActivity" />
        <activity android:name="tudan.Activity.UserInforActivity"/>
        <activity
            android:name="tudan.Activity.OneOrderActivity"
            android:theme="@style/AppTheme_tudan" />
        <activity android:name="tudan.Activity.PaySucceedActivity" />
        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
        <activity android:name="tudan.Activity.PoiSearchActivity" />
        <activity android:name="tudan.Activity.PiclocationActivity" />
        <activity android:name="tudan.Activity.NavigationActivity" />
        <activity android:name="tudan.Activity.MapNaviViewActivity" />
        <activity
            android:name="tudan.Activity.Infor_OrderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="tudan.Activity.ExpressMapActivity" />
        <activity android:name="tudan.Activity.Order_listActivity" />
        <activity
            android:name="tudan.Activity.OrderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="tudan.Activity.EvaluateActivity" />
        <activity android:name="tudan.Activity.RobActivity"></activity>
        <activity android:name=".activity.VerifiedActivity"></activity>
        <activity android:name=".activity.PhotoActivity"></activity>
        <activity android:name=".activity.PublishedActivity"></activity>
        <activity android:name=".activity.TestPicActivity"></activity>
        <activity android:name=".activity.ImageGridActivity"></activity>
        <activity android:name=".activity.FreeActivity"></activity>
        <activity android:name=".activity.ShowInforActivity"></activity>
        <activity android:name="tudan.Activity.User_Show_InforActivity"/>
        <activity android:name=".activity.ShowFriendInforActivity"></activity>
        <activity android:name=".activity.ShowFriendInfor2Activity"></activity>
        <activity android:name=".activity.QunActivity"></activity>
    </application>

</manifest>